:root {
    --pink: #db9a9c;
    --charcoal: #3a4953;
    --grey:#95929F;
    --mauve: #BAAFB8;
    --gunmetal: #2F3339;
}

.head {
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
}

body {
color:var(--mauve);
height:inherit
}

html { 
    background: url(../images/15-8x10.jpg) no-repeat center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

h1 /*font style not working, imported whole font file*/
{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.circular_image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    float:right;
    position: absolute;
    right: 5%;
    top: 10%
  }

  .circular_image img{
    width:100%;
  }