:root {
    --pink: #db9a9c;
    --charcoal: #3a4953;
    --grey:#95929F;
    --mauve: #BAAFB8;
    --gunmetal: #2F3339;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: var(--mauve);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Monsterrat', sans-serif;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: var(--grey);
  color: var(--charcoal);
  position:fixed;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: var(--grey);
  color: var(--mauve);
}

.head {
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-size: 36px;
}

body {
color:var(--mauve);
height:inherit
}

html { 
    background: url(../images/15-8x10.jpg) no-repeat center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

 h1 { 
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 72px;
    font-weight: lighter;
}  

h2 { 
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: lighter;
}  

section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: bottom;
    position:relative;
    top:100em;
    padding-bottom:20%;
}

.circular_image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    float:right;
    position: absolute;
    right: 5%;
    top: 10%
  }

  .circular_image img{
    width:100%;
  }